### Môn Lập trình cho khoa học dữ liệu
#### Giảng viên: Trần Trung Kiên


<h1><center>Đồ án cuối kỳ</center></h1>

MSSV |	Họ và tên | Tên tài khoản github
--- | --- | ---
19120186 |	Đỗ Lê Khánh Đăng | dolekhanhdang
19120412 |	Nguyễn Minh Tú   |  tuak123ax

### 1. Về dữ liệu
Dữ liệu này về lương của những công việc liên quan đến data: data scientist, data engineer, .... <br />
Nguồn: https://www.kaggle.com/nikhilbhathi/data-scientist-salary-us-glassdoor. <br />
Trong mục mô tả của dữ liệu:<br />
- The dataset is scraped from the Glassdoor website using Selenium scrapper. After scrapping, the raw dataset was cleaned and made usable for performing data analysis and modelling. The dataset contains information about the minimum salary, maximum salary, average salary, job description, age of the company in years, etc.
- Dữ liệu được lấy bằng cách scraped từ website của Glassdoor với Selenium scrapper. Sau khi lấy, dữ liệu đã được xử lý phù hợp cho phân tích dữ liệu và mô hình hóa. Tập dữ liệu chứa thông tin về mức lương tối thiểu, tối đa, trung bình, mô tả công việc, tuổi đời công ty,..

### 2. Khám phá dữ liệu

Các thư viện cần thiết

In [2]:
import pandas as pd
import numpy as np

Đọc dữ liệu

In [3]:
data = pd.read_csv('data_cleaned_2021.csv',index_col='index')
data.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,tensor,hadoop,tableau,bi,flink,mongo,google_an,job_title_sim,seniority_by_title,Degree
index,,,,,,,,,,,,,,,,,,,,,
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\r\nLocation: Albuquerque, NM\r\...",3.8,Tecolote Research\r\n3.8,"Albuquerque, NM","Goleta, CA",501 - 1000,1973,Company - Private,...,0,0,1,1,0,0,0,data scientist,na,M
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\r\n\r\nI. General Summary\r\...,3.4,University of Maryland Medical System\r\n3.4,"Linthicum, MD","Baltimore, MD",10000+,1984,Other Organization,...,0,0,0,0,0,0,0,data scientist,na,M
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\r\n4.8,"Clearwater, FL","Clearwater, FL",501 - 1000,2010,Company - Private,...,0,0,0,0,0,0,0,data scientist,na,M
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\r\nJob ID: 310709\r...,3.8,PNNL\r\n3.8,"Richland, WA","Richland, WA",1001 - 5000,1965,Government,...,0,0,0,0,0,0,0,data scientist,na,na
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\r\nAffinity Solutions / Marketi...,2.9,Affinity Solutions\r\n2.9,"New York, NY","New York, NY",51 - 200,1998,Company - Private,...,0,0,0,0,0,0,0,data scientist,na,na

#### Dữ liệu có bao nhiêu dòng và bao nhiêu cột?

In [4]:
num_rows = data.shape[0]
num_cols = data.shape[1]
print('Num rows =',num_rows)
print('Num cols =',num_cols)

Num rows = 742
Num cols = 41

Dữ liệu có 742 dòng và 42 cột

#### Mỗi dòng có ý nghĩa gì? Có vấn đề các dòng có ý nghĩa khác nhau không?

Như trong mô tả, mỗi dòng là một công việc liên quan đến data và các thông tin liên quan đến công việc đó.

#### Dữ liệu có các dòng bị lặp không?

In [5]:
data.duplicated().sum()

275

Hmm, vậy là có 275 dòng bị lặp. Việc dể lại cũng không mang lợi ích gì nên bây giờ nên loại chúng luôn.

In [6]:
data = data.drop_duplicates()
data.duplicated().sum()

0

#### Mỗi cột có ý nghĩa gì?

In [7]:
data.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'Hourly', 'Employer provided', 'Lower Salary', 'Upper Salary',
       'Avg Salary(K)', 'company_txt', 'Job Location', 'Age', 'Python',
       'spark', 'aws', 'excel', 'sql', 'sas', 'keras', 'pytorch', 'scikit',
       'tensor', 'hadoop', 'tableau', 'bi', 'flink', 'mongo', 'google_an',
       'job_title_sim', 'seniority_by_title', 'Degree'],
      dtype='object')

- Job Title : Tên công việc, vd như data scientist, junior data scientist, senior data scientist, etc ... <br />
- Salary Estimate: Khoảng lương và nguồn lấy được.<br />
- Job Description: Mô tả công việc, công ty mong muốn gì từ vị trí này.<br />
- Rating: Rating của công ty.<br />
- Company Name: Tên công ty.<br />
- Location: Địa điểm tuyển dụng.<br />
- Headquarters: Địa chỉ trụ sở công ty.<br />
- Size: Ước tính số lượng nhân viên của công ty.<br />
- Founded: Năm công ty được thành lập.<br />
- Type of ownership: Công ty thuộc chính phủ, tư nhân hay các loại khác.<br />
- Industry: Công ty hoạt động chủ yếu trong ngành công nghiệp nào, IT industry, Pharmaceutical industry , etc...<br />
- Sector: Lĩnh vực mà công ty hoạt động.<br />
- Revenue: Tổng lợi nhuận của công ty mỗi năm. <br />
- Competitors:  Các đối thủ cạnh tranh hiện tại của công ty.<br />
- Hourly: 1 nếu lương này là theo giờ, 0 là các loại khác. <br />
- Employer provided: Mức lương được cung cấp bởi công ty hay không? <br />
- Lower Salary: Mức lương tối thiểu được báo cáo . <br />
- Upper Salary: Mức lương tối đa được báo cáo cho .<br />
- Avg Salary(K): Mức lương trung bình .<br />
- company_txt: chứa tên công ty. <br />
- Job Location: Bang của nơi tuyển dụng.<br />
- Age: Tuổi của công ty, tính bằng năm. <br />
- Python:  Nếu kỹ năng Python là bắt buộc thì là 1. Còn lại là 0.<br />
- spark: Nếu kỹ năng Spark là bắt buộc thì là 1. Còn lại là 0.<br />
- aws: Nếu kỹ năng aws là bắt buộc thì là 1. Còn lại là 0.<br />
- excel: Nếu kỹ năng excel là bắt buộc thì là 1. Còn lại là 0.<br />
- sql: Nếu kỹ năng SQL là bắt buộc thì là 1. Còn lại là 0.<br />
- sas: Nếu kỹ năng SAS là bắt buộc thì là 1. Còn lại là 0.<br />
- keras: Nếu kỹ năng Keras là bắt buộc thì là 1. Còn lại là 0.<br />
- pytorch: Nếu kỹ năng Pytorch là bắt buộc thì là 1. Còn lại là 0.<br />
- scikit: Nếu kỹ năng Scikit là bắt buộc thì là 1. Còn lại là 0.<br />
- tensor: Nếu kỹ năng Tensor là bắt buộc thì là 1. Còn lại là 0.<br />
- hadoop: Nếu kỹ năng Hadoop là bắt buộc thì là 1. Còn lại là 0.<br />
- tableau: Nếu kỹ năng tableau là bắt buộc thì là 1. Còn lại là 0.<br />
- bi: Nếu kỹ năng PowerBi là bắt buộc thì là 1. Còn lại là 0.<br />
- flink: Nếu kỹ năng Flink là bắt buộc thì là 1. Còn lại là 0.<br />
- mongo: Nếu kỹ năng MongoDB là bắt buộc thì là 1. Còn lại là 0.<br />
- google_an: Nếu chứng chỉ Google analytics là bắt buộc thì là 1. Còn lại là 0.<br />
- job_title_sim: Đơn giản hóa tên công việc. <br />
- seniority_by_title: Thâm niên . <br />
- Degree: 
M: Nếu chức danh công việc yêu cầu bằng cấp hoặc cung cấp số năm kinh nghiệm để có được nó. P: Nếu chức danh công việc yêu cầu bằng cấp hoặc cung cấp số năm kinh nghiệm. <br />

#### Mỗi cột hiện đang có kiểu dữ liệu gì? Có cột nào có kiểu dữ liệu chưa phù hợp để có thể xử lý tiếp không?

In [8]:
data.dtypes

Job Title              object
Salary Estimate        object
Job Description        object
Rating                float64
Company Name           object
Location               object
Headquarters           object
Size                   object
Founded                 int64
Type of ownership      object
Industry               object
Sector                 object
Revenue                object
Competitors            object
Hourly                  int64
Employer provided       int64
Lower Salary            int64
Upper Salary            int64
Avg Salary(K)         float64
company_txt            object
Job Location           object
Age                     int64
Python                  int64
spark                   int64
aws                     int64
excel                   int64
sql                     int64
sas                     int64
keras                   int64
pytorch                 int64
scikit                  int64
tensor                  int64
hadoop                  int64
tableau                 int64
bi                      int64
flink                   int64
mongo                   int64
google_an               int64
job_title_sim          object
seniority_by_title     object
Degree                 object
dtype: object

Có vẻ không có vấn đề gì với kiểu dữ liệu của các cột.

#### Với mỗi cột có kiểu dữ liệu dạng số (numerical), các giá trị được phân bố như thế nào?

In [9]:
data.describe()

,Rating,Founded,Hourly,Employer provided,Lower Salary,Upper Salary,Avg Salary(K),Age,Python,spark,...,keras,pytorch,scikit,tensor,hadoop,tableau,bi,flink,mongo,google_an
count,467.000000,467.000000,467.000000,467.000000,467.000000,467.000000,467.000000,467.000000,467.000000,467.000000,...,467.000000,467.000000,467.000000,467.000000,467.000000,467.000000,467.000000,467.000000,467.000000,467.000000
mean,3.651820,1832.441113,0.021413,0.021413,74.783726,128.312634,101.548180,45.605996,0.556745,0.237687,...,0.040685,0.051392,0.079229,0.102784,0.175589,0.211991,0.083512,0.017131,0.051392,0.017131
std,0.805355,508.661732,0.144913,0.144913,29.920107,43.941982,36.381891,52.491641,0.497302,0.426123,...,0.197772,0.221032,0.270386,0.304002,0.380878,0.409157,0.276951,0.129897,0.221032,0.129897
min,-1.000000,-1.000000,0.000000,0.000000,15.000000,16.000000,15.500000,-1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.400000,1939.000000,0.000000,0.000000,53.500000,98.000000,76.250000,11.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.700000,1991.000000,0.000000,0.000000,71.000000,124.000000,97.500000,25.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,4.100000,2007.000000,0.000000,0.000000,90.500000,150.000000,121.000000,56.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,5.000000,2019.000000,1.000000,1.000000,202.000000,306.000000,254.000000,277.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

Giá trị max của các cột thì không có gì bất thường, tuy nhiên các giá trị min có vài chỗ là -1 như Rating,Age,... Lý do bởi vì trong lúc thu thập dữ liệu, những chỗ nào không có hay không thu nhập được thì tác giả sẽ để là -1. Như vậy để lúc sau tính tỷ lệ giá trị thiếu, ta sẽ thay những giá trị = -1 bằng np.nan

In [10]:
data = data.replace(-1,np.nan)
data = data.replace('-1',np.nan)
data.describe()

,Rating,Founded,Hourly,Employer provided,Lower Salary,Upper Salary,Avg Salary(K),Age,Python,spark,...,keras,pytorch,scikit,tensor,hadoop,tableau,bi,flink,mongo,google_an
count,460.000000,434.000000,467.000000,467.000000,467.000000,467.000000,467.000000,434.000000,467.000000,467.000000,...,467.000000,467.000000,467.000000,467.000000,467.000000,467.000000,467.000000,467.000000,467.000000,467.000000
mean,3.722609,1971.850230,0.021413,0.021413,74.783726,128.312634,101.548180,49.149770,0.556745,0.237687,...,0.040685,0.051392,0.079229,0.102784,0.175589,0.211991,0.083512,0.017131,0.051392,0.017131
std,0.568729,52.794282,0.144913,0.144913,29.920107,43.941982,36.381891,52.794282,0.497302,0.426123,...,0.197772,0.221032,0.270386,0.304002,0.380878,0.409157,0.276951,0.129897,0.221032,0.129897
min,1.900000,1744.000000,0.000000,0.000000,15.000000,16.000000,15.500000,2.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.400000,1958.750000,0.000000,0.000000,53.500000,98.000000,76.250000,13.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.750000,1995.000000,0.000000,0.000000,71.000000,124.000000,97.500000,26.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,4.100000,2008.000000,0.000000,0.000000,90.500000,150.000000,121.000000,62.250000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,5.000000,2019.000000,1.000000,1.000000,202.000000,306.000000,254.000000,277.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

Giá trị min đã trở lại bình thường. Giờ ta sẽ xem tỷ lệ thiếu của các cột.

In [11]:
list_numerics = data.describe().columns.tolist()
data[list_numerics].isnull().sum()

Rating                7
Founded              33
Hourly                0
Employer provided     0
Lower Salary          0
Upper Salary          0
Avg Salary(K)         0
Age                  33
Python                0
spark                 0
aws                   0
excel                 0
sql                   0
sas                   0
keras                 0
pytorch               0
scikit                0
tensor                0
hadoop                0
tableau               0
bi                    0
flink                 0
mongo                 0
google_an             0
dtype: int64

Chỉ có 3 cột có giá trị thiếu là Rating, Founded, Age

#### Với mỗi cột có kiểu dữ liệu dạng phân loại (categorical), các giá trị được phân bố như thế nào?

Ở các cột categorical thì những giá trị thiếu được biểu diễn bằng chuỗi 'na' (not available). Vậy ra sẽ thay các chuỗi đó bằng np.nan trước khi tính các giá trị thiếu.

In [15]:
data = data = data.replace('na',np.nan)

In [16]:
list_cate = [ index for index in data.columns.tolist() if index not in list_numerics]
data[list_cate].isnull().sum()

Job Title               0
Salary Estimate         0
Job Description         0
Company Name            0
Location                0
Headquarters            1
Size                    0
Type of ownership       0
Industry                7
Sector                  7
Revenue                 0
Competitors           285
company_txt             0
Job Location            0
job_title_sim           6
seniority_by_title    340
Degree                245
dtype: int64

Competitors và Headquarters, Sector, Industry, seniority_by_title, Degree đêu có giá trị thiếu

Số lượng các giá trị khác nhau

In [13]:
data[list_cate].nunique()

Job Title             264
Salary Estimate       416
Job Description       463
Company Name          343
Location              200
Headquarters          197
Size                    8
Type of ownership       9
Industry               59
Sector                 24
Revenue                13
Competitors           127
company_txt           343
Job Location           37
job_title_sim          10
seniority_by_title      3
Degree                  3
dtype: int64

In [14]:
for col in list_cate:
    print(data[col].unique()[:3])

['Data Scientist' 'Healthcare Data Scientist' 'Research Scientist']
['$53K-$91K (Glassdoor est.)' '$63K-$112K (Glassdoor est.)'
 '$80K-$90K (Glassdoor est.)']
['Data Scientist\r\nLocation: Albuquerque, NM\r\nEducation Required: Bachelor’s degree required, preferably in math, engineering, business, or the sciences.\r\nSkills Required:\r\nBachelor’s Degree in relevant field, e.g., math, data analysis, database, computer science, Artificial Intelligence (AI); three years’ experience credit for Master’s degree; five years’ experience credit for a Ph.D\r\nApplicant should be proficient in the use of Power BI, Tableau, Python, MATLAB, Microsoft Word, PowerPoint, Excel, and working knowledge of MS Access, LMS, SAS, data visualization tools, and have a strong algorithmic aptitude\r\nExcellent verbal and written communication skills, and quantitative analytical skills are required\r\nApplicant must be able to work in a team environment\r\nU.S. citizenship and ability to obtain a DoD Secret Clearance required\r\nResponsibilities: The applicant will be responsible for formulating analytical solutions to complex data problems; creating data analytic models to improve data metrics; analyzing customer behavior and trends; delivering insights to stakeholders, as well as designing and crafting reports, dashboards, models, and algorithms to make data insights actionable; selecting features, building and optimizing classifiers using machine learning techniques; data mining using state-of-the-art methods, extending organization’s data with third party sources of information when needed; enhancing data collection procedures to include information that is relevant for building analytic systems; processing, cleansing, and verifying the integrity of data used for analysis; doing ad-hoc analysis and presenting results in a clear manner; and creating automated anomaly detection systems and constant tracking of its performance.\r\nBenefits:\r\nWe offer competitive salaries commensurate with education and experience. We have an excellent benefits package that includes:\r\nComprehensive health, dental, life, long and short term disability insurance\r\n100% Company funded Retirement Plans\r\nGenerous vacation, holiday and sick pay plans\r\nTuition assistance\r\n\r\nBenefits are provided to employees regularly working a minimum of 30 hours per week.\r\n\r\nTecolote Research is a private, employee-owned corporation where people are our primary resource. Our investments in technology and training give our employees the tools to ensure our clients are provided the solutions they need, and our very high employee retention rate and stable workforce is an added value to our customers. Apply now to connect with a company that invests in you.'
 'What You Will Do:\r\n\r\nI. General Summary\r\n\r\nThe Healthcare Data Scientist position will join our Advanced Analytics group at the University of Maryland Medical System (UMMS) in support of its strategic priority to become a data-driven and outcomes-oriented organization. The successful candidate will have 3+ years of experience with Machine Learning, Predictive Modeling, Statistical Analysis, Mathematical Optimization, Algorithm Development and a passion for working with healthcare data. Previous experience with various computational approaches along with an ability to demonstrate a portfolio of relevant prior projects is essential. This position will report to the UMMS Vice President for Enterprise Data and Analytics (ED&A).\r\n\r\nII. Principal Responsibilities and Tasks\r\n\r\n• Develops predictive and prescriptive analytic models in support of the organization’s clinical, operations and business initiatives and priorities.\r\n• Deploys solutions so that they provide actionable insights to the organization and are embedded or integrated with application systems\r\n• Supports and drives analytic efforts designed around organization’s strategic priorities and clinical/business problems\r\n• Works in a team to drive disruptive innovation, which may translate into improved quality of care, clinical outcomes, reduced costs, temporal efficiencies and process improvements.\r\n• Builds and extends our analytics portfolio supported by robust documentation\r\n• Works with autonomy to find solutions to complex problems using open source tools and in-house development\r\n• Stays abreast of state-of-the-art literature in the fields of operations research, statistical modeling, statistical process control and mathematical optimization\r\n• Creates, communicates, and manages the project plans and other required project documentation and provides updates to leadership as necessary\r\n• Develops and maintains relationships with business, IT and clinical leaders and stakeholders across the enterprise to facilitate collaboration and effective communication\r\n• Works with the analytics team and clinical/business stakeholders to develop pilots so that they may be tested and validated in pilot settings\r\n• Performs analysis to evaluate primary and secondary objectives from such pilots\r\n• Assists leadership with strategies for scaling successful projects across the organization and enhances the analytics applications based on feedback from end-users and clinical/business consumers\r\n• Assists leadership with dissemination of success stories (and failures) in an effort to increase analytics literacy and adoption across the organization.\r\n\r\nWhat You Need to Be Successful:\r\n\r\nIII. Education and Experience\r\n\r\n• Master’s or higher degree (may be substituted by relevant work experience) in applied mathematics, physics, computer science, engineering, statistics or a related field\r\n• 3+ years of Mathematical Optimization, Machine Learning, Predictive Analytics and Algorithm Development experience (experience with tools such as WEKA, RapidMiner, R. Python or other open source tools strongly desired)\r\n• Strong development skills in two or more of the following: C/C++, C#, Python, Java\r\n• Combining analytic methods with advanced data visualizations\r\n• Expert ability to breakdown and clearly define problems\r\n• Experience with Natural Language Processing preferred\r\n\r\nIV. Knowledge, Skills and Abilities\r\n\r\n• Proven communications skills – Effective at working independently and in collaboration with other staff members. Capable of clearly presenting findings orally, in writing, or through graphics.\r\n• Proven analytical skills – Able to compare, contrast, and validate work with keen attention to detail. Skilled in working with “real world” data including scrubbing, transformation, and imputation.\r\n• Proven problem solving skills – Able to plan work, set clear direction, and coordinate own tasks in a fast-paced multidisciplinary environment. Expert at triaging issues, identifying data anomalies, and debugging software.\r\n• Design and prototype new application functionality for our products.\r\n• Change oriented – actively generates process improvements; supports and drives change, and confronts difficult circumstances in creative ways\r\n• Effective communicator and change agent\r\n• Ability to prioritize the tasks of the project timeline to achieve the desired results\r\n• Strong analytic and problem solving skills\r\n• Ability to cooperatively and effectively work with people from various organization levels\r\n\r\nWe are an Equal Opportunity Employer and do not discriminate against any employee or applicant for employment because of race, color, sex, age, national origin, religion, sexual orientation, gender identity, status as a veteran, and basis of disability or any other federal, state or local protected class.'
 "KnowBe4, Inc. is a high growth information security company. We are the world's largest provider of new-school security awareness training and simulated phishing. KnowBe4 was created to help organizations manage the ongoing problem of social engineering. Tens of thousands of organizations worldwide use KnowBe4's platform to mobilize their end users as a last line of defense and enable them to make better security decisions, every day.\r\n\r\nWe are ranked #1 best place to work in technology nationwide by Fortune Magazine and have placed #1 or #2 in The Tampa Bay Top Workplaces Survey for the last four years. We also just had our 27th record-setting quarter in a row!\r\n\r\nThe Data Scientist will work closely with the VP of FP&A and the Quantitative Analytics Manager to implement advanced analytical models and other data-driven solutions.\r\n\r\nResponsibilities:\r\nWork with key stakeholders throughout the organization to identify opportunities using financial data to develop business solutions.\r\nDevelop new and enhance existing data collection procedures to ensure that all data relevant for analyses is captured.\r\nCleanse, consolidate, and verify the integrity of data used in analyses.\r\nBuild and validate predictive models to increase customer retention, revenue generation, and other business outcomes.\r\nDevelop relevant statistical models to assist with profitability forecasting\r\nCreate the analytics to leverage known, inferred and appended information about origins and recognizing patterns to assist in outlook forecasting\r\nAssist in the design and data modeling of data warehouse.\r\nVisualize data, especially in reports and dashboards, to communicate analysis results to stakeholders.\r\nExtend data collection to unstructured data within the company and external sources\r\nMine and collect data (both structured and unstructured) to detect patterns, opportunities and insights that drive our organization\r\nCreate and execute automation and data mining requests utilizing SQL, Access, Excel, SAS and other statistical programs\r\nTrouble shoot forecast and optimization anomalies with FP&A team through the use of statistical and mathematical optimization models. Develop testing to explain and or reduce these anomalies.\r\nOversee and develop key metric forecasts as well as provide budget support based on trends in the business/industry.\r\nMinimum Qualifications:\r\nMaster's degree in Statistics, Computer Science, Mathematics or other quantitative discipline required\r\n2-3 years of experience in similar role (Master's Degree)\r\n0-2 years of experience in similar role (PhD)\r\nExperience leveraging predictive modeling, big data analytics, exploratory data analysis and machine learning to drive significant business impact\r\nExperience with statistical computer languages (Python, R etc.) to manipulate and analyze large datasets preferred.\r\nExperience with data visualization tools like D3.js, matplotlib, etc., preferred\r\nExceptional understanding of machine learning algorithms such as Random Forest, SVM, k-NN, Naïve Bayes, Gradient Boosting a plus.\r\nApplied statistical skills including statistical testing, regression, etc.\r\nExperience with data bases, query languages, and associated data architecture.\r\nExperience with distributed computing tools (Hive, Spark, etc.) is a plus.\r\nStrong analytical skills and ability to meet project deadlines.\r\nNote: An applicant assessment, background check and drug test may be part of your hiring procedure.\r\n\r\nNo recruitment agencies, please."]
['Tecolote Research\r\n3.8' 'University of Maryland Medical System\r\n3.4'
 'KnowBe4\r\n4.8']
['Albuquerque, NM' 'Linthicum, MD' 'Clearwater, FL']
['Goleta, CA' 'Baltimore, MD' 'Clearwater, FL']
['501 - 1000 ' '10000+ ' '1001 - 5000 ']
['Company - Private' 'Other Organization' 'Government']
['Aerospace & Defense' 'Health Care Services & Hospitals'
 'Security Services']
['Aerospace & Defense' 'Health Care' 'Business Services']
['$50 to $100 million (USD)' '$2 to $5 billion (USD)'
 '$100 to $500 million (USD)']
[nan
 'Oak Ridge National Laboratory, National Renewable Energy Lab, Los Alamos National Laboratory'
 'Commerce Signals, Cardlytics, Yodlee']
['Tecolote Research' 'University of Maryland Medical System' 'KnowBe4']
['NM' 'MD' 'FL']
['data scientist' 'other scientist' 'analyst']
['na' 'sr' 'jr']
['M' 'na' 'P']

Có vẻ không có vấn đề gì

### 3. Các câu hỏi ý nghĩa cần trả lời

#### Câu hỏi 1: Mức lương của công ty có phụ thuộc vào size của công ty hay không, liệu có những khác nhau về kỹ năng đối với từng loại công việc giữa các size công ty không?
Trả lời câu hỏi này sẽ cho ta một cái nhìn toàn cảnh về tình hình lương của các công ty lớn nhỏ, sự khác biệt về yêu cầu của các  loại công ty để định hướng cho phù hợp. Nếu bạn muốn làm những công ty lớn, môi trường chuyên nghiệp thì bạn cần chú trọng về gì. Hoặc bạn muốn công ty startup, môi trường năng động thì cần gì.
- Bước 1: Tiền xử lý dữ liệu
- Bước 2: Tìm câu trả lời

In [45]:
temp = data.groupby(['Size','job_title_sim'])['Avg Salary(K)'].mean().reset_index()
temp = temp.pivot(index = 'Size', columns = 'job_title_sim', values = 'Avg Salary(K)')
temp.style.highlight_max(axis=0,color = 'pink')

Như ta thấy, không phải công ty có size càng lớn thì trung bình lương càng cao. <br />
Lương trung bình cao nhất của 3 nghề analyst, data engineer, data modeler đều tập trung ở công ty có size từ 51-200. Lương trung bình cao nhất của 2 nghề data analitics, machine learning engineer thì ở công ty có size 201 - 500. <br />
Tiếp theo ta sẽ xét xem liệu có những khác nhau về kỹ năng đối với từng loại công việc giữa các size công ty không?

In [93]:
skill_name = ['Python',
       'spark', 'aws', 'excel', 'sql', 'sas', 'keras', 'pytorch', 'scikit',
       'tensor', 'hadoop', 'tableau', 'bi', 'flink', 'mongo', 'google_an' ]
analyst_data = data.groupby(['Size','job_title_sim'])[skill_name].sum().reset_index()
value_size = data.groupby(['Size','job_title_sim']).size().reset_index(name='counts')
data_scientist = analyst_data[analyst_data['job_title_sim'] == 'data scientist'] / 
                    value_size[(value_size['job_title_sim'] == 'data scientist')]['counts'].tolist()

SyntaxError: invalid syntax (Temp/ipykernel_17316/1443704896.py, line 6)

[13, 45, 42, 34, 20, 26, 29, 2]

In [98]:
analyst_data[analyst_data['job_title_sim'] == 'data scientist']

,Size,job_title_sim,Python,spark,aws,excel,sql,sas,keras,pytorch,scikit,tensor,hadoop,tableau,bi,flink,mongo,google_an
4,1 - 50,data scientist,10,3,3,7,10,1,0,0,1,0,3,3,0,0,1,1
11,10000+,data scientist,31,8,9,21,25,9,2,5,4,6,7,9,4,0,1,0
18,1001 - 5000,data scientist,32,13,7,18,22,8,4,5,7,10,9,16,5,0,4,2
25,201 - 500,data scientist,28,13,16,20,21,2,2,3,9,6,10,10,6,0,1,0
33,5001 - 10000,data scientist,17,7,2,13,10,7,3,1,4,5,5,3,1,1,3,0
40,501 - 1000,data scientist,21,6,6,15,14,3,4,2,2,6,4,6,1,2,2,0
48,51 - 200,data scientist,23,9,5,10,18,4,4,4,6,7,3,5,2,0,1,0
50,unknown,data scientist,1,0,1,1,1,0,0,0,0,1,0,0,0,0,0,0