### Môn Lập trình cho khoa học dữ liệu
#### Giảng viên: Trần Trung Kiên


<h1><center>Đồ án cuối kỳ</center></h1>

MSSV |	Họ và tên | Tên tài khoản github
--- | --- | ---
19120186 |	Đỗ Lê Khánh Đăng | dolekhanhdang
19120412 |	Nguyễn Minh Tú   |  tuak123ax

### 1. Về dữ liệu
Dữ liệu này về lương của những công việc liên quan đến data: data scientist, data engineer, .... <br />
Nguồn: https://www.kaggle.com/nikhilbhathi/data-scientist-salary-us-glassdoor. <br />
Trong mục mô tả của dữ liệu:<br />
- The dataset is scraped from the Glassdoor website using Selenium scrapper. After scrapping, the raw dataset was cleaned and made usable for performing data analysis and modelling. The dataset contains information about the minimum salary, maximum salary, average salary, job description, age of the company in years, etc.
- Dữ liệu được lấy bằng cách scraped từ website của Glassdoor với Selenium scrapper. Sau khi lấy, dữ liệu đã được xử lý phù hợp cho phân tích dữ liệu và mô hình hóa. Tập dữ liệu chứa thông tin về mức lương tối thiểu, tối đa, trung bình, mô tả công việc, tuổi đời công ty,..

### 2. Khám phá dữ liệu

Các thư viện cần thiết

In [2]:
import pandas as pd

Đọc dữ liệu

In [26]:
data = pd.read_csv('data_cleaned_2021.csv',index_col='index')
data.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,tensor,hadoop,tableau,bi,flink,mongo,google_an,job_title_sim,seniority_by_title,Degree
index,,,,,,,,,,,,,,,,,,,,,
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\r\nLocation: Albuquerque, NM\r\...",3.8,Tecolote Research\r\n3.8,"Albuquerque, NM","Goleta, CA",501 - 1000,1973,Company - Private,...,0,0,1,1,0,0,0,data scientist,na,M
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\r\n\r\nI. General Summary\r\...,3.4,University of Maryland Medical System\r\n3.4,"Linthicum, MD","Baltimore, MD",10000+,1984,Other Organization,...,0,0,0,0,0,0,0,data scientist,na,M
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\r\n4.8,"Clearwater, FL","Clearwater, FL",501 - 1000,2010,Company - Private,...,0,0,0,0,0,0,0,data scientist,na,M
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\r\nJob ID: 310709\r...,3.8,PNNL\r\n3.8,"Richland, WA","Richland, WA",1001 - 5000,1965,Government,...,0,0,0,0,0,0,0,data scientist,na,na
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\r\nAffinity Solutions / Marketi...,2.9,Affinity Solutions\r\n2.9,"New York, NY","New York, NY",51 - 200,1998,Company - Private,...,0,0,0,0,0,0,0,data scientist,na,na

#### Dữ liệu có bao nhiêu dòng và bao nhiêu cột?

In [27]:
num_rows = data.shape[0]
num_cols = data.shape[1]
print('Num rows =',num_rows)
print('Num cols =',num_cols)

Num rows = 742
Num cols = 41

Dữ liệu có 742 dòng và 42 cột

#### Mỗi dòng có ý nghĩa gì? Có vấn đề các dòng có ý nghĩa khác nhau không?

Như trong mô tả, mỗi dòng là một công việc liên quan đến data và các thông tin liên quan đến công việc đó.

#### Dữ liệu có các dòng bị lặp không?

In [56]:
data.duplicated().sum()

275

Hmm, vậy là có 275 dòng bị lặp. Việc dể lại cũng không mang lợi ích gì nên bây giờ nên loại chúng luôn.

In [60]:
data = data.drop_duplicates()
data.duplicated().sum()

0

#### Mỗi cột có ý nghĩa gì?

In [64]:
data.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'Hourly', 'Employer provided', 'Lower Salary', 'Upper Salary',
       'Avg Salary(K)', 'company_txt', 'Job Location', 'Age', 'Python',
       'spark', 'aws', 'excel', 'sql', 'sas', 'keras', 'pytorch', 'scikit',
       'tensor', 'hadoop', 'tableau', 'bi', 'flink', 'mongo', 'google_an',
       'job_title_sim', 'seniority_by_title', 'Degree', 'index'],
      dtype='object')

- Job Title : Tên công việc, vd như data scientist, junior data scientist, senior data scientist, etc ... <br />
- Salary Estimate: Khoảng lương và nguồn lấy được.<br />
- Job Description: Mô tả công việc, công ty mong muốn gì từ vị trí này.<br />
- Rating: Rating của công ty.<br />
- Company Name: Tên công ty.<br />
- Location: Địa điểm tuyển dụng.<br />
- Headquarters: Địa chỉ trụ sở công ty.<br />
- Size: Ước tính số lượng nhân viên của công ty.<br />
- Founded: Năm công ty được thành lập.<br />
- Type of ownership: Công ty thuộc chính phủ, tư nhân hay các loại khác.<br />
- Industry: Công ty hoạt động chủ yếu trong ngành công nghiệp nào, IT industry, Pharmaceutical industry , etc...<br />
- Sector: Lĩnh vực mà công ty hoạt động.<br />
- Revenue: Tổng lợi nhuận của công ty mỗi năm. <br />
- Competitors:  Các đối thủ cạnh tranh hiện tại của công ty.<br />
- Hourly: 1 nếu lương này là theo giờ, 0 là các loại khác. <br />
- Employer provided: Mức lương được cung cấp bởi công ty hay không? <br />
- Lower Salary: Mức lương tối thiểu được báo cáo cho công việc trong một công ty cụ thể. <br />
- Upper Salary: 
- Mức lương tối đa được báo cáo cho công việc trong một công ty cụ thể.<br />
- Avg Salary(K): 
- Mức lương trung bình được báo cáo cho công việc trong một công ty cụ thể.<br />
- company_txt: chứa tên công ty. <br />
- Job Location: Bang của nơi tuyển dụng.<br />
- Age: Tuổi của công ty, tính bằng năm. <br />
- Python:  Nếu kỹ năng Python là bắt buộc thì là 1. Còn lại là 0.<br />
- spark: Nếu kỹ năng Spark là bắt buộc thì là 1. Còn lại là 0.<br />
- aws: Nếu kỹ năng aws là bắt buộc thì là 1. Còn lại là 0.<br />
- excel: Nếu kỹ năng excel là bắt buộc thì là 1. Còn lại là 0.<br />
- sql: Nếu kỹ năng SQL là bắt buộc thì là 1. Còn lại là 0.<br />
- sas: Nếu kỹ năng SAS là bắt buộc thì là 1. Còn lại là 0.<br />
- keras: Nếu kỹ năng Keras là bắt buộc thì là 1. Còn lại là 0.<br />
- pytorch: Nếu kỹ năng Pytorch là bắt buộc thì là 1. Còn lại là 0.<br />
- scikit: Nếu kỹ năng Scikit là bắt buộc thì là 1. Còn lại là 0.<br />
- tensor: Nếu kỹ năng Tensor là bắt buộc thì là 1. Còn lại là 0.<br />
- hadoop: Nếu kỹ năng Hadoop là bắt buộc thì là 1. Còn lại là 0.<br />
- tableau: Nếu kỹ năng tableau là bắt buộc thì là 1. Còn lại là 0.<br />
- bi: Nếu kỹ năng PowerBi là bắt buộc thì là 1. Còn lại là 0.<br />
- flink: Nếu kỹ năng Flink là bắt buộc thì là 1. Còn lại là 0.<br />
- mongo: Nếu kỹ năng MongoDB là bắt buộc thì là 1. Còn lại là 0.<br />
- google_an: Nếu chứng chỉ Google analytics là bắt buộc thì là 1. Còn lại là 0.<br />
- job_title_sim: Đơn giản hóa tên công việc. <br />
- seniority_by_title: Thâm niên . <br />
- Degree: 
M: Nếu chức danh công việc yêu cầu bằng cấp hoặc cung cấp số năm kinh nghiệm để có được nó. P: Nếu chức danh công việc yêu cầu bằng cấp hoặc cung cấp số năm kinh nghiệm. <br />

#### Mỗi cột hiện đang có kiểu dữ liệu gì? Có cột nào có kiểu dữ liệu chưa phù hợp để có thể xử lý tiếp không?

In [65]:
data.dtypes

Job Title              object
Salary Estimate        object
Job Description        object
Rating                float64
Company Name           object
Location               object
Headquarters           object
Size                   object
Founded                 int64
Type of ownership      object
Industry               object
Sector                 object
Revenue                object
Competitors            object
Hourly                  int64
Employer provided       int64
Lower Salary            int64
Upper Salary            int64
Avg Salary(K)         float64
company_txt            object
Job Location           object
Age                     int64
Python                  int64
spark                   int64
aws                     int64
excel                   int64
sql                     int64
sas                     int64
keras                   int64
pytorch                 int64
scikit                  int64
tensor                  int64
hadoop                  int64
tableau                 int64
bi                      int64
flink                   int64
mongo                   int64
google_an               int64
job_title_sim          object
seniority_by_title     object
Degree                 object
index                   int64
dtype: object

### 3. Các câu hỏi ý nghĩa cần trả lời